{{ ansible_managed | comment }}

{% if rstudio_package_manager_config_override is defined and rstudio_package_manager_config_override|length %}
{{ rstudio_package_manager_config_override }}
{% else %}
{% from "macros/gcfg_encode_macro.j2" import gcfg_encode with context -%}
{{ gcfg_encode(rstudio_package_manager_config) }}
{% endif %}
